<div class="jumbotron">
 <h1 id="font" class="text-center">Daily Spotlight</h1>
 <hr>
  <div class="container">
<div class="row">
        <div class="col-md-6">
        <h1 id="font" class="text-center">POI</h1>
      </div>
              <div class="col-md-6">
        <h1 id="font" class="text-center">POS</h1>
      </div>
</div>

    <div class="row">

      <div class="col-md-6">
        <div class="thumbnail">
          <div ng-click="vm.goPoi(vm.poiName)">
            <img src="/assets/images/halo.png" class="img-responsive"/>
            <img ng-src="{{vm.poiImage}}" class="thumbnail img-responsive customPicture"/>
            <div class="caption">
              <h2 id="font" class="text-center">{{vm.poiName}}</h2>
              <p id="font2" >{{vm.poiSummary}}</p>
            </div>
          </idv>
        </div>
      </div>

      <div class="col-md-6">
        <div class="thumbnail">
          <div ng-click="vm.goPoi(vm.posName)"">
            <img src="/assets/images/poop.png" class="img-responsive" width="159"/>

              <img ng-src="{{vm.posImage}}" class="thumbnail img-responsive customPicture"/>

            <div class="caption">
              <h2 id="font" class="text-center">{{vm.posName}}</h2>
              <p id="font2" >{{vm.posSummary}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
