 <div class="jumbotron">
 <h1 id="font" class="text-center">Daily Spotlight</h1>
 <h6 class="timer">{{vm.hours}} hrs | {{vm.minutes}} mins | {{vm.seconds}} secs</h6>
 <hr>

  <div class="container">
<div class="row">
        <div class="col-md-6">
        <h1 id="font" class="text-center">POI</h1>
      </div>
              <div class="col-md-6">
        <h1 id="font" class="text-center">POS</h1>
      </div>
</div>

    <div class="row">

      <div class="col-md-6">
        <div class="thumbnail">
          <div ng-click="vm.goPoi(vm.poi.name)">
            <img src="/assets/images/halo.png" class="img-responsive"/>
            <img ng-src="{{vm.poi.profile_image_url}}" class="thumbnail img-responsive customPicture"/>
            <div class="caption">
              <h2 id="font" class="text-center">{{vm.poi.name}}</h2>
              <p id="font2" >{{vm.poi.summary}}</p>
            </div>
          </div>  
        </div>
      </div>

      <div class="col-md-6">
        <div class="thumbnail">
          <div ng-click="vm.goPoi(vm.pos.name)">
            <img src="/assets/images/poop.png" class="img-responsive" width="159"/>

              <img ng-src="{{vm.pos.profile_image_url}}" class="thumbnail img-responsive customPicture"/>

            <div class="caption">
              <h2 id="font" class="text-center">{{vm.pos.name}}</h2>
              <p id="font2" >{{vm.pos.summary}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
