.photoBox {
    border: 2px solid #DCDCDC;
}

#photo {
    padding-left: 100px;
    padding-top: 25px;
    display: inline;
} 

h1 {
    text-align: center;
}

#resultName {
    color: black;
}

#filter {
    padding-left: 80px;
}

.mainPoi {
    text-align: center;
}

h3 {
    text-align: center;
}
