.photoBox {
    border: 2px solid #DCDCDC;
}
.podTitle{
  display: inline-block
}
.gif{
  max-height: 100px;
  max-width: 100px;
}
.vsPng img{
  margin-top: 300px;
  max-height: 200px;
  max-width: 200px;
}

footer{
  margin-top: 300px
}

.timer{
  text-align: center;
}
.thumbnail{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
img{
  margin: auto
}

#photo {
    padding-left: 100px;
    padding-top: 25px;
    display: inline;
}

#resultName {
    color: black;
}

#filter {
    padding-left: 80px;
}

.mainPoi {
    text-align: center;
}

.genRating {
  text-align: center;
}

.aligned {
    text-align: center;
}

#poi {
  width: inherit;
  margin-left: auto;
  margin-right: auto;
}

#poiImage {
  display:inline-block;
  margin: 0 auto;
}

#portrait {
  height: 500px;
  width: 315px;
}

#img {
  width: 400px;
  height: 400px;
}

.customPicture {
  width: auto;
  max-height: 325px !important;
}

.margin-right {
  margin-right: 50px;
}

.photo-box-img {
  width: 250px;
  height: auto;
}

.review-text {
  font-size: 16;
}

/* CUSTOM DESIGN */
.div-space {
  margin-top: 15px;
  margin-bottom: 15px
}

.spaced {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-container {
  background: #90A4AE;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.13);

  /*border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 3px solid #263238;*/
}

.standard-text {
  word-wrap: break-word;
}

#reviewCount {
  text-align: center;
  padding: 32px 0 0 0;
  font-size: 35px;
}

#genReviewCount {
   color: black;
   text-align: center;
 }

#modal-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 38px;
}

.modal-title {
  font-family: 'Voltaire', sans-serif;
  font-size: 40px;
}

.modal-content {
  background-image: url("/assets/images/background-textures-11.jpg");
}

#modal {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

#font {
  font-family: 'Voltaire', sans-serif;
}

#font2 {
  font-family: 'Josefin Sans', sans-serif;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}
