#photoBox {
    border: 2px solid #DCDCDC;
}

#photo {
    padding-left: 100px;
    padding-top: 25px;
    display: inline;
}


#resultName {
    color: black;
}

#filter {
    padding-left: 80px;
}

#poi {
  margin-left: auto;
  margin-right: auto;
}

#poiImage {
  display:inline-block;
  margin: 0 auto;
}

#jong {

  height: 600px;
  width: 460px;
}
